RewriteEngine on

#RewriteBase /Lidice

RewriteBase /Liqui

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule . index.php

#php_value output_buffering Off

#php_value output_buffering 10485760

#php_value output_buffering Off

# supress php errors
##php_flag display_startup_errors off
##php_flag display_errors off
##php_value docref_root 0
##php_value docref_ext 0


# enable PHP error logging
##php_flag  log_errors on
##php_value error_log  /home/vmu9xl605aw9/public_html/lidice.net/Liqui/backend/web/php_errors.log

###.htaccess/correct_path_to_your_website/error_modes/php_errors.log


# general directive for setting php error level
##php_value error_reporting -1
